* {
    margin: 0;
    padding: 0;
}

h2 {
  color: black;
  font size: 30 px;
}

footer {
  Color: Darkblue;
  Font size: 18 px;
}

.fancy {
  font-style: italic;
  Color: black;
}

.angry {
  Font-weight: bold;
  Color: red;
}

A: link {
  color: darkblue;
}

a: visited {
  Color: purple;
}
a: hover {
  Color: navy;
}

#important {
  Font-weight: bold;
  Color: black;
}

#tennis {
  background color: green;
}

#big {
  Font Size: 50;
  Color: black;
}

ol{
  marginleft: 50px;
  padding: 25px;
}

ul
{
  marginleft: 50px;
  padding: 20px;
}

.space {
       Margin: 25;
       Padding: 25;
]

Li [class^="a"] {
    font-weight: bold;
}
