* {
    margin: 0;
    padding: 0;
}

h2 {
  color: purple;
  font size: 30 px;
}

footer {
  Color: Darkblue;
  Font size: 18 px;
}

h1+p {
  margin-top:10px;
}

a[href*="https"] {
  color: mediumblue;
}

.fancy {
  font-style: italic;
  Color: black;
}

.angry {
  Font-weight: bold;
  Color: red;
}

A: link {
  color: darkblue;
}

a: visited {
  Color: purple;
}

#important {
  Font-weight: bold;
  Color: black;
}

#tennis {
  Color: green;
}

#big {
  Font-Size: 20px;
  Color: black;
}

#mediumbig {
  Font-Size: 16px;
  Color: black;
}

ol{
  marginleft: 50px;
  padding: 25px;
}

ul
{
  marginleft: 40px;
  padding: 15px;
}

.space {
       Margin-top:5px;
]

Li [class^="a"] {
    font-weight: bold;
}
