* {
  margin: 0;
  padding: 0;
}

a:link {
  Color: blue;
}

a[href*="https"] {
  Color: dodgerblue;
}

a:hover {
  Color: red;
}

a:visited {
  Color: Purple;
}

#tennis {
  Color: green;
}

#big {
  Font-Size: 20px;
  Color: black;
}

#mediumbig {
  Font-Size: 17px;
  Color: black;
}

h2 {
  color: purple;
  font size: 30 px;
}

footer {
  Color: Darkblue;
  Font size: 18 px;
}

ol {
  margin-left: 20px;
  padding: 25px;
}

ul {
  margin-left: 20px;
  padding: 15px;
}

h1+p {
  margin-top: 12px;
}

.fancy {
  font-style: italic;
  Color: black;
}

.angry {
  Font-weight: bold;
  Color: red;
}

.bigspace {
  Margin-top: 20px;
}

.space {
  Margin-top: 10px;
}

.important {
  Font-weight: bold;
  Color: black;
}
